<section>

  <h1>Administration Panel</h1>

  <div class="panel panel-default">
    <div class="panel-heading"><h5>List of admin tools</h5></div>
    <div class="panel-body">
      <p class="text-danger">If you aren't the admin, don't touch these -- in fact, <strong>you shouldn't be
                                                                                            here!!!</strong></p>
    </div>
    <div class="list-group">
      <a class="list-group-item" href="#">Link</a>
      <a class="list-group-item" href="#">Link</a>
      <a class="list-group-item" href="#">Link</a>
      <a class="list-group-item" href="#">Link</a>
    </div>
  </div>

</section>
