<section>

  <h1>Home</h1>

  <div class="panel panel-default">
    <div class="panel-heading"><h5>{{title}}</h5></div>
    <div class="panel-body">
      <p>Welcome to the express-base.</p>
    </div>
    <div class="list-group">
      <a class="list-group-item" href="#">Link</a>
    </div>
  </div>

</section>
