
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <!--<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">-->
  <meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">
  <!--<meta name="viewport" content="width=device-width">-->

  <title>{{subject}}</title>

</head>

<body style="margin: 0; padding: 0;">

  <table id="body" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td style="padding-bottom: 30px; padding-left: 0; padding-right: 0; padding-top: 20px;">

        <table id="container" align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #ccc; border-collapse: collapse;">
          <tr>
            <td>

              <table align="center" cellpadding="0" cellspacing="0" width="600">
                <tr>
                  <td>

                    <table id="header" cellpadding="0" cellspacing="0" width="100%" style="background-color: #0064a4;">
                      <tr>
                        <td class="text-empty" width="40" style="font-size: 0; line-height: 0;"></td>
                        <td width="113" class="logo-large" style="padding-right: 10px;">
                          <h2 class="uci-font" style="font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 65px; font-weight: bold; margin-bottom: 32px; margin-top: 32px;">
                            <a href="http://uci.edu/" class="text-white no-link" style="color: #ffffff; text-decoration: none;">UCI</a>
                          </h2>
                        </td>
                        <td valign="middle" class="logo-small">
                          <h3 class="uci-font" style="font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 22px; font-weight: lighter;">
                            <a href="http://education.uci.edu/" class="no-link text-white" style="color: #ffffff; text-decoration: none;">

                              Software  <br />
                              Procurement

                            </a>
                          </h3>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" height="10" class="hr-yellow" style="background-color: #ffd200;"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
                <tr>
                  <td id="content" class="uci-font" style="background-color: #ffffff; font-family: Helvetica, Arial, Verdana, sans-serif; font-size: 14px; padding-bottom: 7px; padding-left: 10px; padding-right: 10px; padding-top: 7px;">
                    <!-- The main body starts here -->

                    {{{body}}}

                    <!-- The main body ends here -->
                  </td>
                </tr>
                <tr>
                  <td id="footer" class="uci-font text-white" style="background-color: #0064a4; color: #ffffff; font-family: Helvetica, Arial, Verdana, sans-serif;">

                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td id="signature" class="increase-line-height" width="50%" style="line-height: 21px; padding-bottom: 7px; padding-left: 15px; padding-right: 15px; padding-top: 7px;">

                          <!-- The signature starts here -->

                          &nbsp;

                          <!-- The signature ends here -->

                        </td>
                        <td id="social-links" class="increase-line-height" width="50%" style="line-height: 21px; padding-bottom: 7px; padding-left: 15px; padding-right: 15px; padding-top: 7px;">

                          &nbsp;

                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" height="10" class="hr-yellow" style="background-color: #ffd200;"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

</body>
</html>


